.akciya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 0;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #004; }
  .akciya .img-holder {
    width: 15%;
    position: absolute;
    top: 0;
    right: 0; }
    .akciya .img-holder img {
      width: 100%;
      height: auto; }

.how-akciya {
  font-size: 1.5em;
  color: #fff;
  background: rgba(232, 73, 70, 0.8);
  padding: 5px;
  border-radius: 5px; }

@media screen and (max-width: 730px) {
  .how-akciya {
    max-width: 42px;
    margin: 0 auto;
    font-size: 1em; } }

@media screen and (max-width: 698x) {
  .akciya {
    font-size: 0.6em; }
  .how-akciya {
    font-size: 0.8em; } }

@media screen and (max-width: 460x) {
  .akciya .akciya-text {
    font-size: 0.6em; } }
