@charset "UTF-8";
.box-for-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.button {
  display: block;
  padding: 1% 0;
  min-width: 178px;
  width: 100%;
  border-radius: 32em; }
  .button a {
    display: block;
    font-size: 1.5em;
    color: #004;
    padding: 20px;
    max-width: 235px;
    background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(84%), to(#8a8a90));
    background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: -o-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
    text-align: center;
    border-radius: 45px;
    border: 2px solid #ccc;
    margin: 0 auto; }
    .button a .red {
      color: #E84E2A;
      display: block; }

.button a:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(69%), to(#8a8a90));
  background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 69%, #8a8a90);
  background: -o-linear-gradient(bottom right, #8a8a90, #fff, 69%, #8a8a90);
  background: linear-gradient(to top left, #8a8a90, #fff, 69%, #8a8a90); }

.bavaria-holder {
  max-width: 194px; }
  .bavaria-holder .bavaria {
    font-size: 1em;
    padding: 10px;
    background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(84%), to(#8a8a90));
    background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: -o-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
    border-radius: 45px;
    color: #004;
    display: block;
    min-width: 190px;
    margin: 20px 0; }
  .bavaria-holder .bavaria:after {
    content: "→"; }

.bavaria:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(94%), to(#8a8a90));
  background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 94%, #8a8a90);
  background: -o-linear-gradient(bottom right, #8a8a90, #fff, 94%, #8a8a90);
  background: linear-gradient(to top left, #8a8a90, #fff, 94%, #8a8a90); }

@media screen and (max-width: 900px) {
  .box-for-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; } }

@media screen and (max-width: 600px) {
  .box-for-button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
