.button {
  display: block;
  padding: 20px;
  width: 48%;
  min-width: 235px; }
  .button a {
    display: block;
    font-size: 1.5em;
    color: #004;
    padding: 20px;
    max-width: 235px;
    background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(84%), to(#8a8a90));
    background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: -o-linear-gradient(bottom right, #8a8a90, #fff, 84%, #8a8a90);
    background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
    text-align: center;
    border-radius: 45px; }

.button a:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#8a8a90), color-stop(#fff), color-stop(69%), to(#8a8a90));
  background: -webkit-linear-gradient(bottom right, #8a8a90, #fff, 69%, #8a8a90);
  background: -o-linear-gradient(bottom right, #8a8a90, #fff, 69%, #8a8a90);
  background: linear-gradient(to top left, #8a8a90, #fff, 69%, #8a8a90); }
