.cross-out {
  position: relative; }

.cross-out:before {
  position: absolute;
  content: "";
  display: block;
  background: url("../images/zacherknyto.png") no-repeat 0 0;
  top: 21%;
  bottom: 0;
  left: 7%;
  right: 0;
  z-index: 9999; }
