.double-slaider {
  width: 70%;
  margin-right: 20px;
  margin-bottom: 3px; }
  .double-slaider .slaider-top {
    margin-bottom: 10px;
    position: relative; }
    .double-slaider .slaider-top .slick-next:before,
    .double-slaider .slaider-top .slick-prev:before {
      content: ""; }
  .double-slaider .sl-nav .slick-item {
    padding-right: 10px; }
  .double-slaider .sl-nav button.slick-next {
    right: -20px;
    z-index: 2; }
  .double-slaider .sl-nav button.slick-prev {
    left: -20px;
    z-index: 2; }
  .double-slaider .logo {
    position: absolute;
    width: 25%;
    height: 10%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 10; }
    .double-slaider .logo img {
      width: 100%; }
  .double-slaider .img-holder {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid #ccc;
    -webkit-box-shadow: 2px 2px 20px 0px #663f15;
    -moz-box-shadow: 2px 2px 20px 0px #663f15;
    box-shadow: 2px 2px 20px 0px #663f15; }
    .double-slaider .img-holder img {
      display: block;
      width: 100%;
      height: auto; }

.sl-nav .slick-current img {
  border: 5px solid #004; }

@media screen and (max-width: 1210px) {
  .double-slaider {
    width: 60%;
    margin-right: 2%; } }

@media screen and (max-width: 1015px) {
  .double-slaider {
    width: 65%; } }

@media screen and (max-width: 930px) {
  .double-slaider {
    width: 60%; } }

@media screen and (max-width: 900px) {
  .double-slaider {
    width: 100%; } }
