.header {
  text-transform: uppercase; }
  .header ul {
    list-style: none; }

.header-top {
  padding: 10px 0;
  border-bottom: 5px solid #004;
  background: -webkit-gradient(linear, right bottom, left top, from(#302112), color-stop(#737178), color-stop(84%), to(#413f47));
  background: -webkit-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: -o-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: linear-gradient(to top left, #302112, #737178, 84%, #413f47); }

.contacts-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contacts-holder .title-contacts {
    color: #ffcf9b;
    padding-top: 3px; }

.contacts ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contacts ul li {
    margin-left: 20px; }

.level2 {
  display: none; }

@media screen and (max-width: 655px) {
  .contacts-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .contacts-holder .title-contacts {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 5px; } }

@media screen and (max-width: 565px) {
  .title-contacts {
    font-size: 15px; }
  .contacts ul li {
    font-size: 12px; } }

@media screen and (max-width: 440px) {
  .title-contacts {
    display: none; } }
