@charset "UTF-8";
.header,
.footer {
  text-transform: uppercase; }
  .header ul,
  .footer ul {
    list-style: none; }

.header-top,
.footer {
  padding: 10px 0;
  border-bottom: 5px solid #004;
  background: -webkit-gradient(linear, right bottom, left top, from(#302112), color-stop(#737178), color-stop(84%), to(#413f47));
  background: -webkit-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: -o-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: linear-gradient(to top left, #302112, #737178, 84%, #413f47); }

.header .contacts ul li {
  margin-left: 2%; }
  .header .contacts ul li a {
    font-size: 1em; }

.header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-content .rules {
    min-width: 76px;
    padding: 4px;
    background: #004;
    display: block; }

.footer {
  border-top: 5px solid #004;
  border-bottom: 0px solid #004; }

.contacts-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }
  .contacts-holder .title-contacts {
    color: #ffcf9b;
    padding-top: 3px; }

.contacts ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .contacts ul li {
    margin-left: 20px; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .footer .contacts ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.booking .header {
  position: relative; }
  .booking .header .page-back {
    position: absolute;
    z-index: 10;
    display: block;
    padding: 5px;
    background: #004;
    bottom: -30px;
    left: 5px;
    text-transform: lowercase; }

.page-back:before {
  content: "←"; }

@media screen and (max-width: 655px) {
  .contacts-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .contacts-holder .title-contacts {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 5px; } }

@media screen and (max-width: 565px) {
  .title-contacts {
    font-size: 1em; }
    .title-contacts .contacts {
      font-size: 0.6em; } }

@media screen and (max-width: 522px) {
  .header .contacts ul li {
    margin-left: 2%; }
    .header .contacts ul li a {
      font-size: 0.8em; } }

.header-content .rules {
  font-size: 0.8em;
  min-width: 63px; }

@media screen and (max-width: 432px) {
  .header .contacts ul li {
    margin-left: 1.5%; }
    .header .contacts ul li a {
      font-size: 0.6em; }
  .title-contacts {
    display: none; } }

.footer a {
  font-size: 0.8em; }
