header {
  background-size: cover;
  position: relative;
  display: block;
  z-index: -1;
  padding: 20px 0; }
  header .decor {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(84, 74, 75, 0.5);
    z-index: -1; }
