.rules-holder {
  padding: 90px 0; }
  .rules-holder .title-rules-holder {
    font-size: 2em;
    margin: 0.5em 5em;
    text-align: center; }

.rules-box {
  padding: 0 10px; }
  .rules-box li {
    font-size: 1em;
    margin: 0.3em 1.5em; }

.booking .info-holder {
  padding: 20px;
  color: #ffcf9b; }

.r-more {
  font-size: 1.8em;
  margin: 0.5em 1em;
  color: #e3b035;
  text-decoration: underline; }

@media screen and (max-width: 1200px) {
  .rules-holder {
    padding: 70px 0; } }
