.rules-holder {
  padding: 90px 0; }
  .rules-holder .title-rules-holder {
    font-size: 2em;
    margin: 0.5em 5em;
    text-align: center; }

.booking .info-holder {
  padding: 20px;
  color: #ffcf9b; }

@media screen and (max-width: 1200px) {
  .rules-holder {
    padding: 70px 0; } }
