.section {
  padding: 2% 0;
  background: url("../images/bg5.jpg") no-repeat 0 0;
  background-size: cover;
  width: 100%;
  height: auto; }

.content-holder {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-bottom {
  padding: 10px;
  background: rgba(255, 255, 255, 0.5); }
  .section-bottom .section-hotel-description {
    font-size: 18px; }
    .section-bottom .section-hotel-description h1 {
      display: inline-block;
      font-size: 20px;
      font-weight: bold; }

.section-short-desciption {
  font-size: 16px; }

.map-adress-holder {
  padding: 0 10px;
  border: 5px solid #ccc;
  background: -webkit-gradient(linear, right bottom, left top, from(#302112), color-stop(#737178), color-stop(84%), to(#413f47));
  background: -webkit-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: -o-linear-gradient(bottom right, #302112, #737178, 84%, #413f47);
  background: linear-gradient(to top left, #302112, #737178, 84%, #413f47);
  border-bottom: 5px solid #004;
  border-right: 5px solid #004; }
  .map-adress-holder .map-holder {
    width: 100%;
    padding: 2% 0;
    margin-bottom: 2%; }
    .map-adress-holder .map-holder iframe {
      display: block; }
