.section {
  padding: 1% 0;
  background-size: contain;
  width: 100%;
  height: auto; }

.content-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2em; }

.adress-block {
  display: inline-block;
  padding: 2% 0; }

.booking .section {
  position: relative; }
  .booking .section .logo {
    position: absolute;
    width: 9%;
    height: 10%;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: 10; }
    .booking .section .logo img {
      width: 100%; }

@media screen and (max-width: 1235px) {
  .booking .section .logo {
    width: 12%; } }

@media screen and (max-width: 1100px) {
  .booking .section .logo {
    width: 18%; } }

@media screen and (max-width: 900px) {
  .content-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .booking .section .logo {
    width: 25%; } }

@media screen and (max-width: 750px) {
  .booking .section .logo {
    width: 21%; } }

@media screen and (max-width: 450px) {
  .booking .section .logo {
    width: 28%; } }
