.button {
	display: block;
	padding: 20px;
	width: 48%;
	min-width: 235px;
	a {
		display: block;
		font-size: 1.5em;
		color: #004;
		padding: 20px;
		max-width: 235px;
		background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
		text-align: center;
		border-radius: 45px;
	}
}

.button a:hover {
	background: linear-gradient(to top left, #8a8a90, #fff, 69%, #8a8a90);
}