.box-for-button {
  display: flex;
  flex-direction: column;
}

.button {
    display: block;
    padding: 1% 0;
    min-width: 178px;
    width: 100%;
    border-radius: 32em;
	a {
		display: block;
		font-size: 1.5em;
		color: #004;
		padding: 20px;
		max-width: 235px;
		background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
		text-align: center;
		border-radius: 45px;
		border: 2px solid #ccc;
		margin: 0 auto;
		.red {
			color: #E84E2A;
		}
	}
}
.button a:hover {
	background: linear-gradient(to top left, #8a8a90, #fff, 69%, #8a8a90);
}

.bavaria-holder {
	max-width: 194px;
.bavaria {
	font-size: 1em;
    padding: 10px;
    background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
    border-radius: 45px;
    color: #004;
    display: block;
    min-width: 190px;
    margin: 20px 0;
}
.bavaria:after {
	content: "→";
}
}

.bavaria:hover {
	background: linear-gradient(to top left, #8a8a90, #fff, 94%, #8a8a90);
}
@media  screen and (max-width: 900px) {
	.box-for-button {
  flex-direction: row-reverse;
  }
}

@media  screen and (max-width: 600px) {
	.box-for-button {
  flex-direction: column;
  }
}
