.button {
    display: block;
    padding: 1em 0;
    min-width: 178px;
    width: 100%;
    border-radius: 32em;
	a {
		display: block;
		font-size: 1.5em;
		color: #004;
		padding: 20px;
		max-width: 235px;
		background: linear-gradient(to top left, #8a8a90, #fff, 84%, #8a8a90);
		text-align: center;
		border-radius: 45px;
		border: 2px solid #ccc;
	}
}
.button a:hover {
	background: linear-gradient(to top left, #8a8a90, #fff, 69%, #8a8a90);
}

.bavaria {
	font-size: 1em;
    padding: 10px;
    background: #004;
    display: block;
    max-width: 190px;
}
.bavaria:after {
	content: "→";
}