.double-slaider {
	width: 70%;
	margin-right: 20px;
	margin-bottom: 3px;
	.slaider-top {
		margin-bottom: 10px;
		position: relative;
		.slick-next:before,
		.slick-prev:before {
			content: "";
		}
	}

	.sl-nav .slick-item {
		padding-right: 10px;
	}

	.logo {
       position: absolute;
       width: 25%;
       height: 10%;
       left: 0;
       right: 0;
       top: 0;
       margin: 0 auto;
       z-index: 10;
       img {
       	width: 100%;
       }
	}
	.img-holder {
		width: 100%;
		height: auto;
		overflow: hidden;
		margin: 0 auto;
		border: 5px solid #ccc;
		-webkit-box-shadow: 2px 2px 20px 0px rgba(102,63,21,1);
-moz-box-shadow: 2px 2px 20px 0px rgba(102,63,21,1);
box-shadow: 2px 2px 20px 0px rgba(102,63,21,1);
		img {
		display: block;
		width: 100%;
		height: auto;
	  }
	}
}

.sl-nav .slick-current img {
  border: 5px solid #004;
}

@media screen and (max-width: 1210px) {
.double-slaider {
	width: 60%;
	margin-right: 2%;
  }
}
@media screen and (max-width: 1015px) {
.double-slaider {
	width: 65%;
  }
}

@media screen and (max-width: 930px) {
  .double-slaider {
	width: 60%;
}
}

@media screen and (max-width: 900px) {
	 .double-slaider {
	width: 100%;
}
}