.header,
.footer {
	text-transform: uppercase;
  ul {
    list-style: none;
  }
}
.header-top,
.footer {
     	padding: 10px 0;
     	border-bottom: 5px solid #004;
     	background: linear-gradient(to top left, #302112, #737178, 84%, #413f47);
}

.header {
.contacts ul li {
  margin-left: 2%;
 a{
  font-size: 1em;
   }
  }
}

.footer {
  border-top: 5px solid #004;
  border-bottom: 0px solid #004;
}

.contacts-holder {
	display: flex;
    padding: 1% 0;
    justify-content: space-around;
    width: 100%;
    .title-contacts {
    	color: #ffcf9b;
      padding-top: 3px;
    }
 }   

.contacts ul {
		display: flex;
		li {
			margin-left: 20px;
		}
	}

  .footer {
    display: flex;
    justify-content: space-around;
       .contacts ul {
        flex-direction: column;
    }
   }
	
@media  screen and (max-width: 655px) {
   .contacts-holder {
   	flex-direction: column;
   	 text-align: center;
   	 .title-contacts {
   	 	justify-content: center;
      margin-bottom: 5px;
   	 }
   }
}

@media  screen and (max-width: 565px) {
	.title-contacts {
		font-size: 1em;
  .contacts  {
  	font-size: 0.6em;
  }
}
}

@media  screen and (max-width: 522px) {
.header {
.contacts ul li {
  margin-left: 2%;
 a{
  font-size: 0.8em;
   }
  }
}
}

@media  screen and (max-width: 432px) {
  .header {
.contacts ul li {
  margin-left: 1%;
 a{
  font-size: 0.6em;
   }
  }
}
.title-contacts {
    display: none;
    }
}

  