.heading {
	padding: 1em 0;
    display: flex;
    justify-content: center;
    background: #004;
    color: #f4a460 ;
    position: relative;
    margin-bottom: 0.1em;
	h2 {
		font-size: 1.3em;
	}
   } 
	.strelka-holder {
		position: absolute;
        display: block;
        width: 8%;
        height: auto;
        right: 0;
        left: 0;
        z-index: 1;
        margin: 0 auto;
        top: 39%;
		img {
			width: 100%;
		}
	} 


@media screen and (max-width: 700px) {
.strelka-holder {
               top: 67%;
   }
}
  