.header {
	text-transform: uppercase;
  ul {
    list-style: none;
  }
}
.header-top {
     	padding: 10px 0;
     	border-bottom: 5px solid #004;
     	background: linear-gradient(to top left, #302112, #737178, 84%, #413f47);
}

.header-bottom {
    background-size: cover;
    position: relative;
    display: block;
    z-index: -1;
    border-bottom: 5px solid #004;
    .decor {
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	display: block;
    	background: rgba(84, 74, 75, 0.5);
    	z-index: -1;
  }
}
    
.contacts-holder {
	display: flex;
    padding: 1% 0;
    justify-content: center;
    .title-contacts {
    	color: #ffcf9b;
      padding-top: 3px;
    }
 }   

.contacts ul {
		display: flex;
		li {
			margin-left: 20px;
		}
	}
	.level2 {
		display: none;
	}
	
@media  screen and (max-width: 655px) {
   .contacts-holder {
   	flex-direction: column;
   	    text-align: center;
   	 .title-contacts {
   	 	justify-content: center;
      margin-bottom: 5px;
   	 }
   }
}

@media  screen and (max-width: 565px) {
	.title-contacts {
		font-size: 15px;
	}
  .contacts ul li {
  	font-size: 12px;
  }
}

@media  screen and (max-width: 440px) {
	.title-contacts {
		display: none;
	}
}