
.prise-holder {
	padding: 0.5em;
	font-size: 1.2em;
	margin: 1em 0;
	max-width: 235px;
    background: linear-gradient(to top left, #8a8a90, #fff, 70%, #8a8a90);
    border-radius: 34px;
    color: #004;
     .prise {
     	text-align: center;
span {
	display: block;
      }     
   }

}

