$main-color: #ffcf9b;

.rules-holder {
	padding: 42px 0 20px 0;
	.title-rules-holder {
		font-size: 2em;
        margin: 0.5em 5em;
        text-align: center;
        span {
        	display: block;
        }
	}
}

.rules-box {
    padding: 0 10px;
 li {
	font-size: 1em;
	margin: 0.3em 1.5em;
  }
}

.booking .info-holder {
	padding: 20px;
	color: $main-color;
}

.r-more {
	font-size: 1.8em;
	margin: 0.5em 1em;
	color:#e3b035;
	text-decoration: underline;
}

@media  screen and (max-width: 1200px) {
.rules-holder {
	padding-top: 70px;
	padding-bottom: 10px;
  }
}

@media  screen and (max-width: 1000px) {
	.rules-holder {
	.title-rules-holder {
		font-size: 1.5em;
        margin: 0.5em 5em;
	}
}
.r-more {
	font-size: 1.2em;
}
} 

@media  screen and (max-width: 700px) {
   	.rules-holder {
	.title-rules-holder {
		font-size: 1em;
        margin: 0.4em 5em;
	}
}
.rules-box {
 li {
	font-size: 0.8em;
	margin: 0.3em 1.5em;
  }
 }
 .r-more {
	font-size: 0.9em;
}
}

@media  screen and (max-width: 450px) {
	.rules-holder {
	.title-rules-holder {
		font-size: 0.8em;
        margin: 0.3em 3em;
	}
}
.rules-box {
        li {
	font-size: 0.7em;
	margin: 0.2em 1.2em;
  }
 }
 .r-more {
	font-size: 0.7em;
}
}


