.section-feature {
	color: #ffcf9b;
	padding-left: 15px; 
	.section-title-feature,
	 .section-feature-description {
		font-size: 1.3em;
        font-weight: bold;
        margin: 0.5em -0.6em;
		.section-feature-list li {
			display: block;
			padding-left: 15px;
		}
	}
}

@media  screen and (max-width: 1365px) {
	.section-feature {
       .section-title-feature,
       .section-feature-description {
   	    font-size: 1.2em;
        margin: 0 -0.6em;
  }
}

}

