.section {
	padding: 2% 0;
	background-size: cover;
	width: 100%;
	height: auto;
}

.content-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adress-block {
    display: inline-block;
    padding: 2% 0;
}

@media  screen and (max-width: 900px) {
    .content-holder {
        flex-direction: column;
    }
}