.section {
	padding: 2% 0;
	background: url('../images/bg5.jpg') no-repeat 0 0;
	background-size: cover;
	width: 100%;
	height: auto;
}

.content-holder {
    justify-content: center;
}

.section-bottom {
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    .section-hotel-description {
        font-size: 18px;
        h1 {
            display: inline-block;
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.section-short-desciption {
    font-size: 16px;
}

.map-adress-holder {
    padding: 0 10px;
    border: 5px solid #ccc;
    background: linear-gradient(to top left, #302112, #737178, 84%, #413f47);
    border-bottom: 5px solid #004;
    border-right: 5px solid #004;
.map-holder {
    width: 100%;
    padding: 2% 0;
    margin-bottom: 2%;
    iframe {
        display: block;
    }
}
}