.section {
	padding: 2% 0;
	background-size: cover;
	width: 100%;
	height: auto;
}

.content-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adress-block {
    display: inline-block;
    padding: 2% 0;
}

.booking .section {
    position: relative;
    .logo {
        position: absolute;
       width: 9%;
       height: 10%;
       left: 0;
       right: 0;
       top: 0;
       margin: 0 auto;
       z-index: 10;
       img {
        width: 100%;
    }
}
}

@media  screen and (max-width: 1235px) {
  .booking .section {
    .logo {
         width: 12%;
    }
  }
} 

@media  screen and (max-width: 1100px) {
  .booking .section {
    .logo {
         width: 18%;
    }
  }
} 

@media  screen and (max-width: 900px) {
    .content-holder {
        flex-direction: column;
    }
.booking .section {
    .logo {
         width: 25%;
    }
}
}


@media  screen and (max-width: 750px) {
             .booking .section {
    .logo {
         width: 21%;
    }
}
}

@media  screen and (max-width: 450px) {
             .booking .section {
                 .logo {
                    width: 28%;
       }
   }
}