.sidebar {
	width: 20%;
	height: 100%;
	.map-holder {
		width: 100%;
        height: 72%;
        padding-right: 10px; 
        border: 3px solid #ccc;
        iframe {
        	width: 100%;
            height: 300px;
        }
	}
}
.info-holder {
    padding: 10px;
    border: 5px solid #ccc;
    background: linear-gradient(to top left, #302112, #737178, 84%, #413f47);
    border-bottom: 5px solid #004;
    border-right: 5px solid #004;
    z-index: 1;
.map-holder {
    width: 100%;
    border: 2px solid #8a8a90;
    iframe {
        display: block;
        width: 100%;
        height: auto;
    }
  }
}

@media  screen and (max-width: 1100px) {
.info-holder {
    .map-holder {
        height: 60px;
         iframe {
            height: 60px;
         }
    }
}
}

@media  screen and (max-width: 900px) {
.info-holder {
    .map-holder {
        height: 100px;
           padding-bottom: 0;
         iframe {
            height: 100px;
         }
    }
}

}