$icomoon-font-path: "fonts" !default;

$icon-phone: "\e905";
$icon-location: "\e901";
$icon-star: "\e9d7";
$icon-mail: "\e903";
$icon-heart-o: "\e906";
$icon-slick-next: "\e907";
$icon-slick-prev: "\e90b";

